<div>
  <%= image_tag "guy-in-garden@2x.png", class:"img-signup" %>
</div>
<div class="background">
  <h3>Create an eco-friendly vegetable patch with our simple step-by-step guide</h3>
    <% if user_signed_in? %>
      <div class="generate">
        <% if current_user.patches.present? %>
          <%= link_to patch_path(current_user.patches.last) do %>
            <h4>Get Started</h4>
          <% end %>
        <% else %>
          <%= link_to new_patch_path do %>
            <h4>Get Started</h4>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="generate">
      <%= link_to new_user_registration_path do %>
        <h4>Sign up</h4>
      <% end %>
    <% end %>
  </div>
  <div class="loginlink">
    <%= link_to new_user_session_path do %>
    <h4>Log in</h4>
    <% end %>
  </div>
</div>
