<% if crop.present? && crop.days_until_harvest.zero? %>
  <%= simple_form_for crop do |f| %>
    <%= f.input :harvesting_date, label: false, input_html: { class: 'd-none' } %>
    <%= check_box_tag :harvested, 1, crop.harvested?, class: 'd-none', id: 'planted_check' %>

    <%= link_to harvesting_patch_path(@patch), class: 'vegetable-card-checkbox-harvesting mx-3 mb-3 js-crop-check', data: { submit: "edit_crop_#{crop.id}" } do %>
      <span class="flex-grow-1 ml-3 font-size-h5">
        <svg class="harvesting-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99992 1.43262L8.23603 1.55911C10.6787 2.86768 11.835 5.33062 12.2768 6.74969C12.4769 7.39212 12.4426 8.07317 12.2167 8.69001C11.1744 11.5363 9.19405 12.4998 7.99992 12.4998H7.94122L7.88411 12.4862C6.40231 12.1334 5.39525 11.5 4.72167 10.7378C4.051 9.97896 3.74128 9.12699 3.59455 8.38421C3.50465 7.92909 3.52417 7.45615 3.65895 7.00776C4.01825 5.81251 4.75029 4.61445 5.51898 3.64865C6.2802 2.69222 7.12895 1.89921 7.76381 1.55911L7.99992 1.43262ZM6.30141 4.27138C5.57957 5.17833 4.92687 6.26353 4.61662 7.29564C4.53003 7.58369 4.51647 7.89111 4.57559 8.19041C4.69884 8.81431 4.94999 9.4861 5.47098 10.0756C5.98096 10.6526 6.77902 11.1844 8.05461 11.4986C8.78491 11.467 10.3765 10.8071 11.2777 8.34614C11.4337 7.92026 11.4522 7.46479 11.3221 7.047C10.9297 5.78703 9.95193 3.73977 8.01004 2.57998C7.55304 2.89345 6.92065 3.49335 6.30141 4.27138Z" fill="#910B63"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 14.5V7H8.5V14.5H7.5Z" fill="#910B63"/>
        </svg>
        <%= crop.vegetable.name %> is harvested?</span>
      <div class="check">
        <svg class="tick" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.5 7.66667L6.5 13L16.5 1" stroke="white" stroke-width="2"/>
        </svg>
      </div>
    <% end %>
  <% end %>
<% end %>
