<%= simple_form_for crop do |f| %>
  <%= f.input :planting_date, label: false, input_html: { class: 'd-none' } %>
  <%= check_box_tag :planted, 1, crop.planted?, class: 'd-none', id: 'planted_check' %>
  <%= link_to harvesting_patch_path(@patch), class: 'vegetable-card-checkbox-planting mb-3 mx-3 js-crop-check', data: { submit: "edit_crop_#{crop.id}" } do %>
    <span class="flex-grow-1 ml-3 font-size-h5">
      <svg class="planting-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50009 6.27513C9.81682 6.19054 10.6989 5.76776 11.2895 5.16342C11.9361 4.50183 12.1651 3.68726 12.304 3.11867L12.4551 2.5H11.8183C9.18204 2.5 8.11077 4.51724 7.63735 5.40871C7.60984 5.46052 7.58434 5.50854 7.56067 5.55213L7.50009 5.66372V7.52852C7.28202 7.37942 7.03778 7.2302 6.77239 7.09165C6.05733 6.71834 5.15897 6.40698 4.1819 6.40698H3.49316L3.70649 7.06185C3.90775 7.67966 4.36583 8.54385 5.12199 9.07441C5.50926 9.34614 5.97972 9.53297 6.5261 9.54179C6.83933 9.54686 7.16447 9.49323 7.50009 9.37565V14.4419H8.50009V6.27513ZM7.08518 8.45959C6.88378 8.52128 6.70313 8.54452 6.54225 8.54193C6.225 8.5368 5.94546 8.4306 5.69636 8.25582C5.41971 8.0617 5.18793 7.78717 5.00737 7.49747C5.47375 7.59757 5.91519 7.77221 6.3096 7.97812C6.60439 8.13202 6.86622 8.29991 7.08518 8.45959ZM8.89169 5.22968C9.73743 5.10378 10.2475 4.79887 10.5743 4.46449C10.8357 4.19704 11.0056 3.88596 11.1285 3.56365C9.99337 3.78321 9.33143 4.53363 8.89169 5.22968Z" fill="#572271"/>
      </svg>
    <%= crop.vegetable.name %> is planted?</span>
    <div class="check">
      <svg class="tick" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 7.66667L6.5 13L16.5 1" stroke="white" stroke-width="2"/>
      </svg>
    </div>
  <% end %>
<% end %>