<div>
  <div class="background pt-3">
    <div class="pages-container">
     <h1><%= @vegetable.name %></h1>
    </div>
    <ul class="nav nav-pills mb-3 list-inline tabs-underlined active" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active tab-underlined" id="pills-need-tab" href="#pills-need" data-toggle="pill" role="tab" aria-controls="pills-need" aria-selected="true">You will need</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tab-underlined" id="pills-instructions-tab" href="#pills-instructions" data-toggle="pill" role="tab" aria-controls="pills-instructions" aria-selected="false">Instructions</button>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-need" role="tabpanel" aria-labelledby="pills-need-tab">
      <div class="cards-container">
        <div class="row">
          <div class="card-setup col-6">

              <div class="card-body">
                 <%= image_tag "seedlings.jpg", class: "card-img-top" %>
                <h5 class="card-text"><%= @vegetable.name %> seedlings</h5>
                <p class="card-text">x5</p>
                <p class="card-text">Organically grown</p>
                <h6 class="card-text">Where to find</h6>
              </div>
          </div>
          <div class="card-setup col-6">
              <div class="card-body">
                <%= image_tag "rake.jpg", class: "card-img-top" %>
                <h5 class="card-text">Rake</h5>
                <p class="card-text">80cm</p>
                <p class="card-text">Recycled materials</p>
                <h6 class="card-text">Where to find</h6>
              </div>
          </div>
          <div class="card-setup col-6">
              <div class="card-body">
                <%= image_tag "digging-fork.jpg", class: "card-img-top" %>
                <h5 class="card-text">Digging fork</h5>
                <p class="card-text">30cm</p>
                <p class="card-text">Recycled materials</p>
                <h6 class="card-text">Expert advise</h6>
              </div>
          </div>
          <div class="card-setup col-6">
              <div class="card-body">
                <%= image_tag "compost.jpg", class: "card-img-top" %>
                <h5 class="card-text">Planting steaks</h5>
                <p class="card-text">x5 12 x 14cm</p>
                <p class="card-text">Add after 1 month</p>
                <h6 class="card-text">Make your own</h6>
              </div>
          </div>
          <div class="card-setup col-6">
              <div class="card-body">
                <%= image_tag "fleece.jpg", class: "card-img-top" %>
                <h5 class="card-text">Fleece</h5>
                <p class="card-text">1m x 1m</p>
                <p class="card-text">Use in colder months</p>
                <h6 class="card-text">Where to find</h6>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-instructions" role="tabpanel" aria-labelledby="pills-instructions-tab">
      <% if params[:instruction_type] == 'planting' %>
        <%= render 'instructions_planting' %>
      <% else %>
        <%= render 'instructions_harvesting' %>
      <% end %>
    </div>
  </div>

  <%= render 'shared/menu' %>
</div>

