<div class="body-wrapper">
<div>
  <div class="background pt-3">
    <div class="pages-container">
     <h1><%= @vegetable.name %></h1>
    </div>
    <ul class="nav nav-pills mb-3 list-inline tabs-underlined active" id="pills-tab" role="tablist">
      <% if params[:instruction_type] == 'planting' %>
      <li class="nav-item" role="presentation">
        <button class="nav-link active tab-underlined" id="pills-need-tab" href="#pills-need" data-toggle="pill" role="tab" aria-controls="pills-need" aria-selected="true">You need</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tab-underlined" id="pills-instructions-tab" href="#pills-instructions" data-toggle="pill" role="tab" aria-controls="pills-instructions" aria-selected="false">Instructions</button>
      </li>
      <% else %>
      <li class="nav-item" role="presentation">
        <button class="nav-link active tab-underlined" id="pills-instructions-tab" href="#pills-instructions" data-toggle="pill" role="tab" aria-controls="pills-instructions" aria-selected="false">Instructions</button>
      </li>
      <% end %>
    </ul>
  </div>

  <% if @vegetable.days_until_planting.zero? %>
    <% if params[:instruction_type] == 'planting' %>
      <%= render 'planting_check_box', crop: Crop.find_by(patch: @patch, vegetable: @vegetable) %>
    <% end %>
  <% end %>

  <div class="tab-content" id="pills-tabContent">
      <% if params[:instruction_type] == 'planting' %>
        <%= render 'instructions_planting' %>
      <% else %>
        <%= render 'instructions_harvesting' %>
      <% end %>

  </div>

  <%= render 'shared/menu' %>
</div>
</div>
