<div class="body-wrapper">
<div class="background">
  <div class="pages-container">
    <%= link_to new_patch_path do %>
      <%= image_tag "button/backarrow.png", class:"buttonarrow-left" %>
    <% end %>

    <h1>Your vegetable selection</h1>
    <p>These vegetables perfectly match your garden.</p>
    <p>Select the vegetables you would like to grow in your patch.</p>
    <h5>Select up to 5</h5>

    <%= simple_form_for @patch do |f| %>
      <%= f.association :vegetables,
        as: :check_boxes,
        collection: @vegetables,
        legend_tag: false,
        item_wrapper_class: 'd-none' %>

      <% @vegetables.each do |vegetable| %>
        <a href="#" class="vegetable-card js-vegetable-item mb-3" data-target="patch_vegetable_ids_<%= vegetable.id %>">
          <%= cl_image_tag vegetable.photo.key, width: 45, height: 45, crop: :fill, class: 'vegetable-photo' %>
          <span class="flex-grow-1 ml-3 font-size-h5"><%= vegetable.name %></span>
          <div class="check">
            <svg class="tick" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.5 7.66667L6.5 13L16.5 1" stroke="white" stroke-width="2"/>
            </svg>
          </div>
        </a>
      <% end %>

      <div class="action">
        <%= f.submit 'Confirm', class: 'gen-text' %>
      </div>
    <% end %>
  </div>
</div>
</div>
