
<div class="background">
  <%= link_to new_patch_path do %>
  <%= image_tag "button/backarrow.png", class:"buttonarrow-left" %>
  <% end %>
  <div class="pages-container">
    <h1>Your vegetable selection</h1>
    <p>These vegetables perfectly match your garden.</p>
    <p>Select the vegetables you would like to grow in your patch.</p>
    <h5>Select up to 5</h5>
    <%= simple_form_for @patchvegetable, :url => patch_patchvegetables_create_path(@patch), :method => :post do |f| %>
      <%= f.input :vegetable, as: :check_boxes, collection: @vegetables, legend_tag: false, :item_wrapper_class => "vegetable-card1", input_html: { style: "color: blue;" } %>
      <div class="action">
        <%= f.submit "Generate your patch", class:"gen-text" %>
      </div>
    <% end %>

<!--     <%#= @vegetables.each do |v| %>
        <div class="vegetable-card">
          <%#= v.name %>
          <%#= cl_image_tag(v.photo.key,
      width: 50, height: 50, crop: :fill) %>
        </div>
      <%# end %> -->
  </div>
</div>

