<div class="background">
  <%= link_to root_path do %>
    <%= image_tag "button/backarrow.png", class:"buttonarrow-left" %>
  <% end %>
  <div class="pages-container">
    <h1>Your vegetable selection</h1>
    <p>These vegetables perfectly match your garden.</p>
    <p>Select the vegetables you would like to grow in your patch.</p>
      <%= simple_form_for @patchvegetable, :url => patch_patchvegetables_create_path(@patch), :method => :post do |f| %>
        <%= f.input :vegetable, as: :check_boxes, collection: @vegetables %>
        <%= f.submit %>
      <% end %>
    <h5>Select up to 5</h5>
      <%= @vegetables.each do |v| %>
        <div class="vegetable-card">
          <%= v.name %>
          <%= cl_image_tag(v.photo.key,
      width: 50, height: 50, crop: :fill) %>
        </div>
      <% end %>
  </div>
  <%= link_to root_path do %>
    <%= image_tag "button/forwardarrow.png", class:"buttonarrow-right" %>
  <% end %>
</div>
