<div class="background">
  <div class="pages-container-taller">
    <%= link_to root_path do %>
      <%= image_tag "button/backarrow.png", class:"buttonarrow-left" %>
    <% end %>
    <div class="form-style">
      <%= simple_form_for @patch do |f| %>
        <h1>What is your location?</h1>
        <%= f.input :location, label: "Location", class:"form-control" %>
        <h1>How sunny is your garden?</h1>
        <div class="d-flex justify-content-between">
          <p class="hi">Very shady</p><p class="hi">Very sunny</p>
        </div>
        <%= f.input :hours_of_sun, collection: (1..6).to_a, label: false %>
        <%= f.button :submit, class:"btn btn-primary w-100 my-4 px-2" %>
      <% end %>
    </div>
  </div>
</div>
